.NotificationsContainer {
  position: fixed;
  right: 10px;
}

.menuItem {
  text-align: end;
  height: 30px;
}

.Notifications {
  border: 1px dashed #e0354b;
  border-width: 2px;
  padding: 0.5rem;
  width: 50vmin;
}

.Notifications li[data-notification-type="default"] {
  color: blue;
}

.Notifications li[data-notification-type="urgent"] {
  color: red;
}