.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #e0354b;
  width: 100%;
}

.App-body {
  border-top: 4px solid #e0354b;
  border-bottom: 4px solid #e0354b;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App-body p {
  margin: 3rem;
}

.App-footer {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 1.25rem;
}
