.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #e0354b;
}

.App-body {
  border-top: 4px solid #e0354b;
  border-bottom: 4px solid #e0354b;
  height: calc(90vh - 42vmin);
  font-size: 1.5rem;
}

.App-body p {
  margin: 3rem;
}

.App-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 1.25rem;
}
